{% extends 'base.html.twig' %}

{% block body %}
<br><br><br><br>
   <table class=table table-bordered>
    <thead>
      <tr>
        <th>Age</th>
         <th>Famille</th>
        <th>Race</th>
        <th>Nourriture</th>
      </tr>
    </thead>
    <tbody>
    {% for informations in todo %}
      <tr>
        <td scope=row>{{informations.age}}</td>
        <td>{{informations.famille}}</td>
        <td>{{informations.race}}</td>
        <td>{{informations.nourriture}}</td>
        <td>
        <a href=insecte/details/{{informations.id}} class=btn btn-success>Détails</a>
        <a href=insecte/edit/{{informations.id}} class=btn btn-default>Modifier</a>
        <a href=insecte/delete/{{informations.id}} class=btn btn-danger>Supprimer</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}